---
layout: layout.njk
title: Freelance Web Developer | JordanCox.dev
description: Building innovative and user-friendly web experiences. Hire a passionate full-stack web developer to bring your vision to life.
---

<h1 class="text-4xl text-center">Hello world!</h1>
