---
layout: layout.njk
title: Freelance Web Developer | JordanCox.dev
description: Building innovative and user-friendly web experiences. Hire a passionate full-stack web developer to bring your vision to life.
---

<div class="flex sm:flex-row flex-col dark dark:bg-[#2B3035] dark:text-gray-400">
  <a href="/" class="sm:my-4 mt-2 text-lg text-white font-mono hover:underline basis-1/2 text-center my-0">JordanCox.dev</a>
  <scrollspy-nav
    role="navigation"
    aria-label="Page section navigation"
    class="basis-1/2"
  >
    <ul class="custom-nav mt-0 sm:mt-1">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </scrollspy-nav>
</div>
<main class="dark dark:bg-[#212529] dark:text-gray-200">
  <section id="about" class="container bg-transparent py-12">
    <h1 class="text-4xl text-center">Hello</h1>
  </section>
</main>
