---
layout: layout.njk
title: Freelance Web Developer | JordanCox.dev
description: Building innovative and user-friendly web experiences. Hire a professional full-stack web developer to bring your website or web app to life.
---

<div
  class="flex sm:flex-row flex-col dark dark:bg-[#2B3035] dark:text-gray-400 sm:hidden"
>
  <a href="/" class="mx-auto mt-4 max-w-44 basis-1/2"
    ><img src="../media/JCD Logo_white.png"
  /></a>
</div>
<div
  class="flex sm:flex-row flex-col dark dark:bg-[#2B3035] dark:text-gray-400 sticky top-0 overflow-x-auto overscroll-x-contain z-30"
>
  <a
    href="/"
    class="mx-auto sm:my-4 my-0 mt-4 max-w-44 basis-1/2 hidden sm:block"
    ><img src="../media/JCD Logo_white.png" class=""
  /></a>
  <scrollspy-nav
    role="navigation"
    aria-label="Page section navigation"
    class="basis-1/2"
  >
    <ul class="custom-nav mt-0 sm:mt-1">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </scrollspy-nav>
</div>
<main class="dark dark:bg-[#212529] dark:text-gray-200">
  <section
    id="about"
    class="container-fluid mx-auto dark:bg-transparent py-12 relative overflow-auto"
  >
    <h1 class="px-4">Full Stack Web Developer</h1>
    <div class="flex flex-col-reverse md:flex-row justify-center">
      <div class="text-lg md:w-[50%] 2xl:w-[30%] mt-6 md:mt-0 mx-8 md:mx-0">
        <h2 class="text-left text-2xl font-sans">Jordan Cox is a web developer building static websites, WordPress websites, and web apps for clients.</h2>
        <p class="mb-4">
          I'm Jordan. I've had a passion for computers since I was a kid. I first stumbled into coding when I was about 10 years old and my dad introduced me to HTML. I taught myself to build websites using <a href="https://w3schools.com" target="_blank">W3Schools</a> and soon began working on projects for my dad's web agency.
        </p>
          <p class="mb-4">
          After high school, I joined the Colorado Army National Guard, where I served for six years until I was honorably discharged in 2023. During my time in the Guard, I also worked for a small residential remodeling company as a craftsman and, starting a few years in, as a business manager.
          </p>
          <p class="mb-4">
          Although not working with computers full time, my interest in technology remained. I dabbled in Python, Java, and my comfortably with tech allowed me to solve tech-related issues my company was facing.
          </p>
          <p class="mb-4">
          At the beginning of 2023, I decided I wanted to enter the tech industry full time. After teaching myself JavaScript and refreshing my HTML and CSS knowledge, I joined an intensive full stack software engineering bootcamp where I learned Node.js, TypeScript, React, and database programs like MongoDB. Near the end of my bootcamp, I started working as a freelance web developer.
        </p>
          <p class="mb-4">
          I love using code to solve problems for people. As a freelance engineer, I get to help individuals and businesses find the best solutions to fit their particular needs. Whether you simply want a blog built for personal use or you're wanting to build a SaaS application using cutting edge technology, <a href="/#contact" class="font-bold hover:underline">reach out and schedule a meeting with me today</a>.
        </p>
          </p>
        </div>
      <div class="md:float-right mx-8">
        <div class="relative w-auto">
          <image
            src="../media/bio-img.jpg"
            class="rounded-full max-h-72 object-cover aspect-square mx-auto"
            alt=""
          ></image>
          <div class="flex justify-center">
            <a href="https://www.linkedin.com/in/jordan-cox-dev/" target="_blank" title="linkedin.com/in/jordan-cox-dev/" class="text-5xl mx-6 mt-8"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/jordanccox" target="_blank" title="github.com/jordanccox" class="text-5xl mx-6 mt-8"><i class="fa-brands fa-square-github"></i></i></a>
            {# <a href="mailto: jordan.c.cox.1@gmail.com" title="jordan.c.cox.1@gmail.com" class="text-5xl mx-6 mt-8"><i class="fa-solid fa-envelope"></i></i></a> #}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section
    id="services"
    class="container-fluid mx-auto dark:bg-[#162130] py-12 relative overflow-auto text-lg"
  >
    <h1 class="px-4">Services</h1>
    <div class="md:mx-[22%] 2xl:mx-[30%] mx-8">
      I'm a problem solver. My job is to figure out what your problem is and how
      to most efficiently use technology to solve it for you.

      <br />
      Clean, elegant web development oriented toward solving your problems in
      the most efficient way possible.
      <br />
      - Full stack web application development
      <br />
      - Custom website design, development, and maintenance
      <h2>Technologies I Use</h2>
      ...
      <h2>Frontend Development</h2>
      <h2>Backend Development</h2>
      - Need an API built for your ....? No problem!
      <h2>Full Stack Development</h2>
    </div>
  </section>

  <!-- Projects -->
  <section
    id="projects"
    class="container-fluid mx-auto dark:bg-[#212529] py-12 relative overflow-auto text-lg"
  >
    <h1 class="px-4">Projects</h1>

    <div
      class="flex flex-col lg:flex-row lg:row-span-2 gap-4 justify-center items-center"
    >
      <div
        class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-[#162130] dark:border-gray-700"
      >
        <a href="/wellspring-home-services">
          <img
            class="rounded-t-lg h-auto max-w-full aspect-[4/3] object-top object-cover"
            src="../media/wellspring/wellspringhomeservices.com-md.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="/wellspring-home-services">
            <h2
              class="mb-2 text-2xl font-sans font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Wellspring Home Services
            </h2>
            <h3 class="text-lg font-medium font-sans">Website Design & Development</h3>
          </a>
          <p class="mb-3 font-normal text-base text-gray-700 dark:text-gray-400">
            JavaScript | Node.js | Tailwind CSS | HTML | CSS | Eleventy Static
            Site Generator
          </p>
          <a
            href="/wellspring-home-services"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-white"
          >
            View Project
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>

      <div
        class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-[#162130] dark:border-gray-700"
      >
        <a href="/the-romano-law-firm">
          <img
            class="rounded-t-lg h-auto max-w-full aspect-[4/3] object-top object-cover"
            src="../media/romano/romano-law-firm-new.netlify.app-md.png"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="/the-romano-law-firm">
            <h2
              class="mb-2 text-2xl font-sans font-bold tracking-tight text-gray-900 dark:text-white"
            >
              The Romano Law Firm
            </h2>
            <h3 class="text-lg font-medium font-sans">Website Design & Development</h3>
          </a>
          <p class="mb-3 font-normal text-base text-gray-700 dark:text-gray-400">
            JavaScript | Node.js | Tailwind CSS | HTML | CSS | Eleventy Static
            Site Generator
          </p>
          <a
            href="/the-romano-law-firm"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-white"
          >
            View Project
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section
    id="contact"
    class="container-fluid mx-auto dark:bg-[#162130] py-12 relative overflow-auto text-lg"
  >
    <h1 class="px-4">Contact</h1>
  </section>
</main>
